.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("gregri.png");
    top: 50px;
}

.player{
    background-image: url("/snake.png");
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50px;
    right: 50px;
    border-radius: 25px;
    background-size: 50px 50px
}

.food{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 500px;
    right: 500px;
}

body{
    background: url("https://wallpaperaccess.com/full/2217435.jpg");
    touch-action: manipulation;
}

.leaderboard{
    background: linear-gradient(180deg, rgb(0, 200, 250), rgb(0, 250, 200));
    border-radius: 5%;
    width: 350px;
    height: 600px;
    position: absolute;
    right: 50px;
    top: 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 90%;
  margin-top: 2%
}

.close {
  color: #aaa;
  float: right;
  font-size: 1px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
