<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Edit Docs</title>
</head>
<body style="background-color: rgb(200, 200, 200); background-image: none">
<textarea class="document" onkeydown="clickerSave()" id="docContainer" cols="30" rows="10"></textarea>
<script>
        setTimeout(getter, 50)
        total_keydown = 0;

        function getter(){
            fetch("/getDoc/{{ doc.identifier }}")
                .then(function(body){
                  return body.text();
                }).then(function(data) {
                  document.getElementById("docContainer").value =(data);
             });
             setTimeout(getter, 3000)

        }

        clickerSave(){
            total_keydown += 1
            if(total_keydown > 3){
                saver()
                total_keydown = 0
            }
        }

        function saver () {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/saveDoc/{{ doc.identifier }}', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("data=" + document.getElementById("docContainer").value);
            prev_val = document.getElementById("docContainer").value
        }
    </script>

</body>
</html>