<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Edit Docs</title>
</head>
<body style="background-color: rgb(200, 200, 200); background-image: none">
    <button class="button-17" style="position: absolute; top: 15px; left: 50px" onclick="saver()">Save</button>
    <select id="auto-save" class="button-17" style="position: absolute; top: 15px; left: 150px">
        <option value="True" disabled selected>Auto Save(On)</option>
        <option value="True">On</option>
        <option value="False">Off</option>
    </select>
    <p style="position: absolute; top: 75px; left: -5px; display: none; margin-left: 5%; color: gray; width: 90%; font-family: Helvetica" id="saveInfo">Saved</p>
    <textarea class="document" onkeydown="autoSaver()" id="docContainer" cols="30" rows="10"></textarea>

<script>
        setTimeout(getter, 50)

        function removeSave(){
            document.getElementById("saveInfo").style.display = "none";
        }

        function getter(){
            if(document.getElementById("auto-save").value == "False"){
                setTimeout(getter, 3000)
                return;
            }
            fetch("/getDoc/{{ doc.identifier }}")
                .then(function(body){
                  return body.text();
                }).then(function(data) {
                  document.getElementById("docContainer").value =(data);
             });
             setTimeout(getter, 3000)
        }

        function autoSaver () {
            if(document.getElementById("auto-save").value == "False"){
                return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/saveDoc/{{ doc.identifier }}', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("data=" + document.getElementById("docContainer").value);

        }

        function saver () {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/saveDoc/{{ doc.identifier }}', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("data=" + document.getElementById("docContainer").value);

            document.getElementById("saveInfo").style.display = "block";
            setTimeout(removeSave, 1000)
        }
    </script>

</body>
</html>