<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Edit Docs</title>
</head>
<body style="background-color: rgb(200, 200, 200);">
<script>
        setTimeout(saver, 250)
        setTimeout(getter, 2000)

        function getter(){
            fetch("/getDoc/{{ doc.identifier }}")
                .then(function(body){
                  return body.text();
                }).then(function(data) {
                  document.getElementById("docContainer").value =(data);
             });
             setTimeout(getter, 1000)

        }

        function saver () {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/saveDoc/{{ doc.identifier }}', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("data=" + document.getElementById("docContainer").value);

            setTimeout(saver, 500)
        }
    </script>
<textarea class="document" id="docContainer" cols="30" rows="10"></textarea>
</body>
</html>