<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Edit Docs</title>
</head>
<body style="background-color: #f8f9fa; background-image: none; margin: 0; padding: 0; width: 100%; height: 100%;">
    <div style="background-color: white; width: 100%; height: 75px; margin: 0; padding: 0; box-shadow: 0 4px 2px -2px rgb(200, 200, 200);">
        <img src="/docslogo.png" style="width: 50px; margin-top: 1%; margin-left: 5%" alt="">
        <button class="button-17" style="position: absolute; top: 15px; left: 150px; border-radius: 5px; border: none; box-shadow: none; background: none;">Save</button>
     <button class="button-17" style="position: absolute; top: 15px; left: 400px; border-radius: 5px; border: none; box-shadow: none; background: none;" onclick="download('socialdocs.txt', document.getElementById('docContainer').value)">Download</button>
        <select id="auto-save" class="button-17" style="position: absolute; top: 15px; left: 250px; background: transparent; -webkit-appearance: none; border-radius: 5px; border: none; box-shadow: none;">
            <option value="True" disabled selected>No changes auth.</option>
            <option value="True">On</option>
            <option value="False">On</option>
        </select>
    </div>

    <p style="position: absolute; top: 75px; left: -5px; display: none; margin-left: 5%; color: gray; width: 90%; font-family: Helvetica" id="saveInfo">Saved</p>
    <textarea class="document" style="font-family: Open Sans" id="docContainer" cols="30" rows="10">{{ document.data }}</textarea>
    <span id="wordCount" style="position: fixed; bottom: 30px; right: 100px; border-radius: 5px; border: none; box-shadow: none; background: none; font-family: Open Sans;">Word Count</span>

    <menu id="ctxMenu">
        <menu  title="">
            <button onclick="insertImage()" style="background: none; border: none;">Insert URL as Image</button>
        </menu>
        <menu  title="">
            <button onclick="searchText()" style="background: none; border: none;">Search</button>
        </menu>
    </menu>

    <script>
        var notepad = document.getElementById("docContainer");
        notepad.addEventListener("contextmenu",function(event){
            event.preventDefault();
            var ctxMenu = document.getElementById("ctxMenu");
            ctxMenu.style.display = "block";
            ctxMenu.style.left = (event.pageX - 10)+"px";
            ctxMenu.style.top = (event.pageY - 10)+"px";
        },false);
        notepad.addEventListener("click",function(event){
            var ctxMenu = document.getElementById("ctxMenu");
            ctxMenu.style.display = "";
            ctxMenu.style.left = "";
            ctxMenu.style.top = "";
        },false);
    </script>
<script>
        setTimeout(setWord, 50)

        function searchText(){
            window.open("https://www.google.com/search?query=" + window.getSelection().toString())
        }

        function insertImage(){
            document.getElementById("docContainer").innerHTML = document.getElementById("docContainer").innerHTML.replace(window.getSelection().toString(), "<img src='mainColor' style='max-width: 250px'>".replace("mainColor", window.getSelection().toString()))
        }

        function setWord(){


            if(document.getElementById("docContainer").value.split(" ")[0] == ""){
                document.getElementById("wordCount").innerHTML = "Word Count: 0"
            }
            else{
                document.getElementById("wordCount").innerHTML = "Word Count: " + document.getElementById("docContainer").value.split(" ").length;
            }

            setTimeout(setWord, 50)
        }


    </script>

</body>
</html>